* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 8vh;
    background-color: #effdff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    border: #003db7;


}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #170101;
    font-size: 18px;
}

nav a:hover {
    color: #003db7;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    flex-direction: row;

}

nav ul li {
    padding: 15px 10px;
    position: relative;
}

nav ul li a {
    color: #170101;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul li:last-child {
    margin-right: 30px;
}

nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #003db7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav ul li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

nav {
    z-index: 1000;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.intro {

    padding: 50px 0;
    text-align: center;

}

.intro h2 {
    font-size: 36px;
    font-weight: 700;
    color: #003db7 !important;
    margin-bottom: 20px;


}

#politicieni-list {
    margin: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
}

#politicieni-list2 {
    margin: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.politic {
    margin: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
}



.politician {
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.politician:hover {
    transform: translateY(-5px);
}

.politician h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #333;
}

.politician p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

#politicieni-list a {
    text-decoration: none;
    color: #140acb;
}

#politicieni-list a:hover {
    color: #050830;
}

#politicieni-list2 a {
    text-decoration: none;
    color: #140acb;
}

#politicieni-list2 a:hover {
    color: #050830;
}

#politicieni-list3 a {
    text-decoration: none;
    color: #140acb;
}

#politicieni-list3 a:hover {
    color: #050830;
}

.space {
    margin-top: 100px;
}

.politic a {
    text-decoration: none;
    color: #140acb;
}

.politic a:hover {
    color: #050830;
}