.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;

}

nav a {
    text-decoration: none;
    color: #170101;
    font-size: 1rem;
    font-weight: 700;
}

nav a:hover {
    color: #003db7;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    flex-direction: row;

}

nav ul li {
    padding: 15px 10px;
    position: relative;
}

nav ul li a {
    color: #170101;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul li:last-child {
    margin-right: 30px;
}

nav ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 2px;
    background-color: #003db7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav ul li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hamburger {
    display: none;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}




@media only screen and (max-width: 1300px) {
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 95%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    width: 4rem;
    margin-left: 20px;

}